<div class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Pig-latin Translator</h1>
        <h3 class="subtitle is-3 has-text-grey-light">If you need to translate your perfect english text into pig-latin, you are in the right place!</h3>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns" [formGroup]="form">
      <div class="column">
        <div class="box">
          <h4 class="title is-4">English</h4>
          <h5 class="subtitle is-5 has-text-grey-light">Type your desired text into the input box below.</h5>

          <textarea
            type="text"
            class="textarea"
            formControlName="textInput"
            placeholder="Type your message here ..."
          ></textarea>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <h4 class="title is-4">Pig-latin</h4>
          <h5 class="subtitle is-5 has-text-grey-light">The translated text will appear here.</h5>

          <p class="text-output" *ngIf="textOutput$ | async as textOutput">{{ textOutput }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
